.foreground { background-color: aquamarine; }

.background { background-color: burlywood; }

.normal { background-color: aquamarine; }

.multiply { background-color: #6eb870; }

.lighten { background-color: #deffd4; }

.darken { background-color: #7fb887; }

.darkercolor { background-color: burlywood; }

.lightercolor { background-color: aquamarine; }

.lineardodge { background-color: white; }

.linearburn { background-color: #5eb85c; }

.difference { background-color: #5f474d; }

.screen { background-color: #eeffea; }

.exclusion { background-color: #7f477a; }

.overlay { background-color: #ddffd6; }

.softlight { background-color: #dedbaf; }

.hardlight { background-color: #ddffd6; }

.colordodge { background-color: white; }

.colorburn { background-color: #bcb86e; }

.linearlight { background-color: #ddffff; }

.vividlight { background-color: #ddffff; }

.pinlight { background-color: #defea8; }

.hardmix { background-color: white; }

.colorblend { background-color: #6fdeb9; }

.dissolve { background-color: aquamarine; }

.divide { background-color: #ffb8a2; }

.hue { background-color: #87dec1; }

.luminosity { background-color: #ffd39b; }

.saturation { background-color: #dead6f; }

.subtract { background-color: #5f0000; }
